*.swp
__pycache__/
experiments/
misc/
*.pdf
.pylintrc
.idea
.vscode/
.mypy_cache/
vox2organ.egg-info/
vox2organ/pretrained_models/*
!vox2organ/pretrained_models/V2C-Flow-S-ADNI/
evaluation/
group_analysis/
postprocessing/
.ipynb_checkpoints/
