<!-- Paper Section -->
    <section id="paper">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"> Vox2Cortex: Fast Explicit Reconstruction of Cortical Surfaces from
3D MRI Scans with Geometric Deep Neural Networks </h2>
                    <p class='standard'>
			Vox2Cortex <mark class="blue"> deforms </mark> a brain <mark class="blue">template </mark> to the inner and outer 				boundary surfaces of the cortex based on features extracted from the input MRI.
		    </p>
                </div>
	     </div>
            <div class="row paper">
			<img class="center-block" src="img/architecture_overview.png" class="img-responsive" alt="">
            </div>
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <p class='standard'>
			The obtained surfaces are <mark class="blue"> geometrically </mark> accurate and <mark class="blue"> topologically </mark> correct.
		    </p>
                </div>
	     </div>
		<div class="row">
			<img class="center-block" src="img/cortex_surfaces.gif" class="img-responsive" alt="">
		</div>
		<div class="row text-center">
                <div class="col-lg-12 text-center">
                    <p class='standard'>
			The novel  <mark class="blue"> curvature-weighted </mark> Chamfer Loss reweights the ratio between geometric  <mark class="blue"> accuracy </mark> and surface <mark class="blue"> regularity</mark> locally based on ground truth curvature
		    </p>
                </div>
	     </div>
	     <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <p class='standard'>
			See the paper and our CVPR 2022 poster and presentation slides here:
		    </p>
                </div>
	     </div>
		<div class="row text-center text-center">
		        <div class="col-md-4">
			<a href="https://arxiv.org/abs/2203.09446">                  
		            <span class="fa-stack fa-4x">
		                <i class="fa fa-circle fa-stack-2x text-primary"></i>
		                <i class="fa fa-book  fa-stack-1x fa-inverse"></i>
		            </span>
		            <h4 class="service-heading">Paper</h4>
		            <p class="text-muted"></p>
			</a>
		        </div>
		        <div class="col-md-4 text-center">
			<a href="files/vox2cortex_poster.pdf"> 
		            <span class="fa-stack fa-4x">
		                <i class="fa fa-circle fa-stack-2x text-primary"></i>
		                <i class="fa fa-picture-o  fa-stack-1x fa-inverse"></i>
		            </span>
		            <h4 class="service-heading">Poster</h4>
		            <p class="text-muted"></p>
			</a>
		        </div>
		        <div class="col-md-4 text-center">
			<a href="files/Vox2Cortex-CVPR2022.pdf">
		            <span class="fa-stack fa-4x">
		                <i class="fa fa-circle fa-stack-2x text-primary"></i>
		                <i class="fa fa-slideshare fa-stack-1x fa-inverse"></i>
		            </span>
		            <h4 class="service-heading">Slides</h4>
		            <p class="text-muted"></p>
			</a>
		        </div>
            </div>
        </div>
    </section>
