<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row text-center">
            <div class="col">
	            <p class="text-primary">Watch our presentation at CVPR 2022 here:</p>
		    <iframe width="560" height="315" src="https://www.youtube.com/embed/-yuNHwz_JpU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 			clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
		    </iframe>
	    </div>
	 
        </div>
    </section>
